body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.first-section {
    height: 1168px;
    background-color:#f8f7db;
}

#first-image {
    height: 1100px;
}

.second-image-section {
    height: 1100px;
    width: 350px;
    background-color: #ce4205;
    margin-left: 129px;
    margin-top: -1105px;
}

h2 {
    font-size: 30px;
    text-align: center;
    color: white;
}

.sub-text {
    color:  yellow;
    font-weight: bold;
    text-align: left;
    font-size: 20px;
    padding-left: 30px;
}

.para {
    color: yellow;
    text-align: left;
    padding: 30px 30px 0 30px;
    font-size: 18px;
}

.button {
    text-align: right;
    padding-right: 30px;
}

.read-more {
    border-radius: 6px;
    width: 60px;
    height: 25px;
}

.para2 {
    color: #58eb34;
    text-align: left;
    padding: 1px 30px 0px 30px;
    font-size: 18px;
}

.date {
    color: white;
    font-weight: bold;
    padding-left: 30px;
    text-align: left;
    font-size: 20px;
}

.imp {
    background-color: #76850f;
}

.second-image {
    width: 352px; 
}

.third-image-section {
    background-color: #a0b31b;
    height: 1100px;
    width: 350px;
    margin-left: 479px;
    margin-top: -1100px;
}

.third-image {
    width: 350px;
    height: 473px;
}

.about-us {
    margin-left: 294px;
    margin-top: -944px;
}

.about {
    height: 100px;
    width: 90px;
}

.fourth-image-section {
    margin-left: 870px;
    margin-top: -1075px;
    height: 325px;
    width: 300px;
}

.fourth-image {
    height: 325px;
    width: 300px;  
}

.fifth-image-section {
    margin-left: 1200px;
    margin-top: -325px;
    height: 325px;
    width: 250px;
}

.fifth-image {
    height: 325px;
    width: 250px;
}

.sixth-image-section {
    margin-left: 900px;
    margin-top: 30px;
}

.sixth-image {
    width: 575px;
}

.tick-section {
    margin-left: 900px;
}

.tick {

    margin-left: 5px;
    background-color: #fefced;
    width: 88%;
}

.main-tick{
    color: #9fb31b;
}

.text {
   margin-top: 6px;
   margin-bottom: 6px;
   font-size: 20px;
   padding: 7px;
}

.seventh-image-section {
    margin-left: 900px;
    margin-top: 50px;
}

.seventh-image {
    height: 130px;
    width: 170px;
}

.eighth-image-section {
    margin-left: 1085px;
    margin-top: -134px;
}

.eighth-image {
    height: 130px;
    width: 170px;
}

.ninth-image-section {
    margin-left: 1275px;
    margin-top: -134px;
}

.ninth-image {
    height: 130px;
    width: 170px;
}

.tenth-image-section {
    margin-left: 900px;
    margin-top: 50px;
}

.tenth-image {
    height: 120px;
    width: 545px;
}

.second-section {
    height: 400px;
    background-color: #e9e6c3;
}

.eleventh-image {
    margin-left: 50px;
    margin-top: 20px;    
    height: 75px;
    width: 80px;
}

.twelfth-image-section {
    margin-left: 130px;
    margin-top: -43px;
}

.twelfth-image {
    margin-left: 2px;
    margin-top: -43px;
    height: 70px;
    width: 200px;
}

.second-para-section {
    margin: 50px;
    width: 50%;
}

.para3 {
    padding-right: 35px;
    text-align: left;
}


.thirteenth-image {
    height: 30px;
    width: 30px;
    padding: 18px;;
}

.form-header {
    margin-left: 900px;
    margin-top: -260px;
    background-color: #fcfaed;
    height: 60px;
    width: 300px;
}

.member {
    margin-left: 70px;
    margin-top: -60px;
    font-size: 26px;
    padding: 5px;
}

.form-main {
    margin-left: 900px;
    height: 220px;
    width: 300px;
    background-color: #f2eed1;
}

input {
    background-color: white;
    margin-top: 5px;
    margin-left: 20px;
    width: 80%;
    height: 25px;
}

.enter {
    margin: 0px 0px 1px 10px;
    padding-top: 10px;
    font-weight: bold; 
}

.forgot {
    padding-left: 20px;
    font-weight: bold;
    text-decoration: underline;
    color: #9fb319;
}

.login {
    margin-left: 220px;
    margin-top: -50px;
    padding-bottom: 10px;
    height: 35px;
    width: 55px;
}

.important {
    color: #95a51d;
    font-weight: bold;
}

.fourteenth-image-section {
    margin-top: -300px;
    margin-left: 1230px;
}

.fourteenth-image {
    height: 180px;
    width: 230px;
}

.third-section {
    height: 200px;
    background-color: #313131;
}

.contact {
    margin-top: auto;
    color: white;
    text-align: center;
    padding: 15px 5px 5px 5px;
    margin-bottom: 6px;
}

.copyright {
    color: yellow;
    text-align: center;
    padding: 5px;
    margin-top: 5px;
}

.valid1 {
    margin: 10px 10px 10px 665px;
    padding: 5px;
    height: 20px;
    width: 100px;
    background-color: #cd4008;
    text-align: center;
    color: white;
    border-radius: 8px;
}

.valid2 {
    margin: 10px;
    padding: 5px;
    height: 20px;
    width: 100px;
    background-color: #cd4008;
    text-align: center;
    border-radius: 8px;
    color: white;
}

.me {
    background-color: #252525;
    text-align: center;
    font-weight: bold;
}

.designed {
    text-align: center;
    color: white;
    margin-top: 20px;
}

.button2 {
    padding-right: 30px;
    margin-left: 660px;
    margin-top: 15px;
}

.read {
    border-radius: 6px;
    width: 60px;
    height: 25px;
    margin-top: -60px;
}
